services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=haerulr2
      - POSTGRES_PASSWORD=rahasia
      - POSTGRES_DB=pay-track
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
